<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="ar.com.futbolapp">

    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:name=".ui.FutbolAppApplication"
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="false"
        android:theme="@style/AppTheme">

        <activity
            android:name=".ui.main.UserDashboardActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity
            android:name=".ui.activity.SettingsActivity"
            android:label="@string/title_activity_settings"
            android:parentActivityName=".ui.main.UserDashboardActivity"/>

        <activity
            android:name=".ui.profile.ProfileActivity"
            android:label="@string/profile"
            android:parentActivityName=".ui.main.UserDashboardActivity"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>

    </application>

</manifest>
