<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ar.com.futbolapp" >

    <uses-permission android:name="android.permission.INTERNET"/>
    <application
        android:name=".FutbolAppApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!--Auth0 Lock-->
        <activity
            android:name="com.auth0.lock.LockActivity"
            android:theme="@style/Lock.Theme"
            android:screenOrientation="portrait"
            android:launchMode="singleTask">
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
                <data android:scheme="a0VE41FsxEbp68vgfIEBHPvwtX9wLud1OE" android:host="imgaray.auth0.com"/>
            </intent-filter>
        </activity>
        <activity android:name="com.facebook.FacebookActivity"
            android:configChanges=
                "keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:label="@string/app_name" />
        <meta-data android:name="com.facebook.sdk.ApplicationId" android:value="@string/facebook_app_id"/>
        <meta-data android:name="com.auth0.lock.client-id" android:value="VE41FsxEbp68vgfIEBHPvwtX9wLud1OE"/>
        <meta-data android:name="com.auth0.lock.domain-url" android:value="imgaray.auth0.com"/>

        <activity
            android:name=".ProfileActivity"
            android:label="@string/app_name" >
        </activity>
        <!--Auth0 Lock End-->
    </application>

</manifest>
